<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,800;1,400&display=swap"
        rel="stylesheet">
    <title>Index</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div id="work">
        <div id="header">
            <div id="logo">
                FLASHCARDS
            </div>
            <form method="POST" action="{{ route('logout') }}">
                @csrf

                <x-dropdown-link :href="route('logout')" onclick="event.preventDefault();
                                    this.closest('form').submit();">
                    {{ __('Log Out') }}
                </x-dropdown-link>
            </form>
        </div>
        <div id='balance'>
            <span title='Буквопыль использутся для создания новых карт'>30000</span>
            <i class='bx bxs-vial'></i>
        </div>
        <div id="content">
            <div class="tabs">
                <input type="radio" name="tabs" id="tab-first" checked>
                <label for="tab-first">
                    <p>Карты</p>
                </label>
                <input type="radio" name="tabs" id="tab-second">
                <label for="tab-second">
                    <p>Колоды</p>
                </label>
                <div id="tab-content-1" class="tab-content">
                    <div>
                        <h1>Карты 5/5</h1>
                    </div>
                    <div class="center-deck">
                        <div id="deck-card" class='deck'>
                            <div class="card legend">
                                <div class="card-gif">
                                    <img src="https://media4.giphy.com/media/8IyJweC7qiNu2716vT/giphy.gif?cid=ecf05e478nacvxrqo86h9cfkha7c2d2bcccdfioflaye3lr2&rid=giphy.gif&ct=s"
                                        alt="">
                                </div>
                                <div class="card-text">
                                    <p>Create a new flashcard</p>
                                    <p>Создать новую карточку</p>
                                </div>
                                <div class="card-option">
                                    <div class="button-group-column">
                                        <button>Создать</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card rare">
                                <div class="card-gif">
                                    <img src="https://media4.giphy.com/media/uFEL9XqI2kXKyeHmAy/giphy.gif?cid=ecf05e477h8qxqcs41x35a1irvuqp5x9ovsmix0cpzgacwrw&rid=giphy.gif&ct=s"
                                        alt="">
                                </div>
                                <div class="card-text">
                                    <p>add</p>
                                    <p>добавить</p>
                                </div>
                                <div class="card-option">
                                    <div class="button-group-column">
                                        <button class='danger'>Распылить</button>
                                        <button>В колоду</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card epic">
                                <div class="card-gif">

                                    <img src="https://neversaynever0304.files.wordpress.com/2015/04/cleaning.gif"
                                        alt="">
                                </div>
                                <div class="card-text">
                                    <p>busy</p>
                                    <p>занят</p>
                                </div>
                                <div class="card-option">
                                    <div class="button-group-column">
                                        <button class='danger'>Распылить</button>
                                        <button>В колоду</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card legend">
                                <div class="card-gif">
                                    <img src="https://i.giphy.com/media/e7QhlWUjllr7m3VRSi/giphy.webp" alt="">
                                </div>
                                <div class="card-text">
                                    <p>clear</p>
                                    <p>чисто</p>
                                </div>
                                <div class="card-option">
                                    <div class="button-group-column">
                                        <button class='danger'>Распылить</button>
                                        <button>В колоду</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card common">
                                <div class="card-gif">
                                    <img src="https://i.giphy.com/media/XOrFcrJVjhUkwLr4PH/giphy.webp" alt="">
                                </div>
                                <div class="card-text">
                                    <p>Will you buy me a new car for Christmas?</p>
                                    <p>Ты купишь мне новую машину на Рождество?</p>
                                </div>
                                <div class="card-option">
                                    <div class="button-group-column">
                                        <button class='danger'>Распылить</button>
                                        <button>В колоду</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card common">
                                <div class="card-gif">
                                    <img src="https://i.giphy.com/media/3o7bug8jhF3LvXDxvy/giphy.webp" alt="">
                                </div>
                                <div class="card-text">
                                    <p>To have a good time</p>
                                    <p>Хорошо проводить время, чаще используется, как пожелание</p>
                                </div>
                                <div class="card-option">
                                    <div class="button-group-column">
                                        <button class='danger'>Распылить</button>
                                        <button>В колоду</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="deck-paginate">
                        <a href="#" class="deck-paginte-item active-paginate-item">1</a>
                        <a href="#" class="deck-paginte-item">2</a>
                        <a href="#" class="deck-paginte-item">3</a>
                    </div>
                </div>
                <div id="tab-content-2" class="tab-content">
                    <div>
                        <div>
                            <h1>Колоды 1/15</h1>
                        </div>
                        <div id="deck-card" class='deck'>
                            <div class="deck-card">
                                <h1>Животные</h1>
                                <div class="deck-card-option">
                                    <div class="button-group-row">
                                        <button class='danger'>Удалить</button>
                                        <button>Изменить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="deck-card">
                                <h1>Животные</h1>
                                <div class="deck-card-option">
                                    <div class="button-group-row">
                                        <button class='danger'>Удалить</button>
                                        <button>Изменить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="deck-card">
                                <h1>Животные</h1>
                                <div class="deck-card-option">
                                    <div class="button-group-row">
                                        <button class='danger'>Удалить</button>
                                        <button>Изменить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="deck-card">
                                <h1>Животные</h1>
                                <div class="deck-card-option">
                                    <div class="button-group-row">
                                        <button class='danger'>Удалить</button>
                                        <button>Изменить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="deck-card">
                                <h1>Животные</h1>
                                <div class="deck-card-option">
                                    <div class="button-group-row">
                                        <button class='danger'>Удалить</button>
                                        <button>Изменить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="deck-card">
                                <h1>Животные</h1>
                                <div class="deck-card-option">
                                    <div class="button-group-row">
                                        <button class='danger'>Удалить</button>
                                        <button>Изменить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="deck-card">
                                <h1>Животные</h1>
                                <div class="deck-card-option">
                                    <div class="button-group-row">
                                        <button class='danger'>Удалить</button>
                                        <button>Изменить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="option">
                <button class="footer_btn">
                    <i class='bx bxs-chat'></i>
                </button>
                <button class="footer_btn">
                    <i class='bx bxl-telegram'></i>
                </button>
                <button class="footer_btn">
                    <i class='bx bxs-cat'></i>
                </button>
            </div>
        </div>
    </div>
</body>

</html>
