:root {
    --primary: #64b5f6;
    --primary-light: #9be7ff;
    --primary-dark: #2286c3;
    --secondary: #1976d2;
    --secondary-light: #63a4ff;
    --secondary-dark: #004ba0;
    --primary-text: #000000;
    --secondary-text: #ffffff;
    --green:  rgba(4, 201, 36, 1);
}

* {
    transition: background-color 2s;
    transition: width 0.5s;
}

img {
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--secondary);
    font-family: 'Exo 2', sans-serif;
    color: var(--secondary-text);
}

#wokr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header {
    width: 100%;
    height: 100px;
}

#logo {
    font-size: 60px;
    width: 50%;
    text-align: center;
}

#content {
    min-height:500px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

#index_header {
    background-image: url(../../public/img/world.png);
    background-repeat: no-repeat;
    background-position: center center;
    /* Путь к фоновому изображению */
    height: 400px;
    background-color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#index_header>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#index_header button:hover {
    background-color:var(--green);
    width: 40%;
}

p {
    font-size: 40px;
    font-family: 'Exo 2', bold;
}

button {
    font-size: 40px;
    width: 50%;
    border-radius: 25px;
    border: none;
    color: var(--secondary-text);
    background-color: var(--secondary-dark);
    padding: 15px;
    -webkit-box-shadow: 12px 12px 12px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 12px 12px 12px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 12px 12px 12px 3px rgba(34, 60, 80, 0.2);
}

button:hover {
    width:90%;
    background-color:var(--green);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

#index_body {
    width: 100%;
    display: flex;
    justify-content: center;
}

#about_me {
    width: 90%;
}

.block_picture_text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 400px;
}

.block_picture_text div {
    padding: 20px;
}

.block_picture_text div:hover {
    background-color: var(--primary-dark);
    border-radius: 25px;
    -webkit-box-shadow: 0px 19px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 19px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 19px 10px 2px rgba(34, 60, 80, 0.2);
}

.block_picture_text img {
    width: 50%;
}

#index_footer{
    background-color: var(--primary);
    width:100%;
    display: flex;
    justify-content: center;

}
#index_footer div{
    width: 90%;
}
#footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:40px;
    flex-direction: column;
    align-items: center;
}
#option{
    width: 90%;
    margin: 20px;
    display: flex;
    justify-content:center;
}

.footer_btn{
    width:auto;
    font-size:20px; 
    margin: 15px;
    border-radius:100%;
    display: flex;
    justify-content:center;
    align-items:center;
}
.footer_btn:hover{
    width:auto;
}
form{
    display: flex;
    flex-direction:column;
    align-items:center;
    width:30%; 
}
label{
    text-align: start;
    width:100%;
    font-size: 20px;
    margin-bottom: -20px;
}
label:hover{
    color:var(--primary-dark);
}
form>input,form>textarea,form>button{
    margin:20px;
    width: 100%;
}
input[type="text"],input[type="emai"],input[type="password"]{
    -webkit-box-shadow: 12px 12px 12px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 12px 12px 12px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 12px 12px 12px 3px rgba(34, 60, 80, 0.2);
}
input{
    height:50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    border-radius: 30px;
    border:2px solid var(--secondary);
}
input:active,input:focus,input:hover{
    border:2px solid var(--secondary-dark);
    width:90%;
}
.checkbox{
    display:flex;
    width:100%;
    justify-content:start;
    align-items:center;
}
.checkbox>input{
    height:50px;
}
.checkbox>input{
    width:auto;
    margin: 0px;
}
.checkbox>label{
    width:auto;
    margin: 0px;
}
.form_block{
    width:100%;
    display: flex;
    justify-content:center;
    height:100%;
    background-color: var(--primary);
    background-image: url(../../public/img/world.png);
    background-repeat: no-repeat;
    background-position: center center;
}
@media (max-width: 1200px) {
    .block_picture_text {
        flex-direction: column;
        height:auto;
    }
    .block_picture_text img{
        width: 100%;
        order:-1;
    }
    form{
        width:60%;
    }
}
@media (max-width: 800px) {
    form{
        width:80%;
    }
    button{
        width:70%;
        font-size: 25px;
    }
    #logo{
        width: 100%;
    }
}